.header-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
    color: #462255;
    margin-bottom: 50px;
}

.header-container h1{
    margin-bottom: auto;
}

.header-container img{
    width: 35px;
}